/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Rob Schuster's custom styles Begin here.  Thanks for looking at my code.
   ========================================================================== */

html {
      width: 100%;
      height: auto;
      font-size: 16px;
}

body {
      max-width: 1200px;
      height: auto;
      font-size: 1em;
}
/* universal classes  */

.container {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: column;
      width: 100%;
      height: auto;
}

/* ------------------- Base Header - Footer Styles ---------------------*/

header, footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
}

header {
      background-color: #202322;
      padding: 15px 0 0 0;
}

header img {
      width: 60%;
      height: auto;
}

header nav {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 100%;
      height: auto;
}

header nav ul {
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 60%;
}

.header-divider {
      border-bottom: 1px solid #527158;
      width: 100%;
}

/*  Base header id's  */

#nav {
      display: flex;
}

/* -------------------****  Mobile First Styles  ****---------------------*/

aside {
      background-color: #527158;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row wrap;
      width: 90.3%;
      height: auto;
      padding-left: 20px;
      padding-right: 20px;
}

footer {
      background-color: #202322;
      display: flex;
      justify-content: center;
      align-items: flex-start;

}

footer .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 50px 0 0 0;
      padding-right: 20px;
      padding-left: 20px;
}

header, main, footer {
      width: 100%;
      height: auto;
}

header .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 0;
}

/*  ++++++++++++++  Classes section   +++++++++++++++++  */

.contact {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      text-align: center;
      width: 100%;
      height: auto;
}

.contact-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 48%;
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
}

.contact-section h1 {
      margin-top: 50px;
      margin-bottom: 0;
      padding-bottom: 0;
}

.contact-section h2 {
      margin-top: 0;
      margin-bottom: 0;
}

.copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      text-align: center;
      width: 100%;
      height: auto;
}

.copyright p {
      color: #fff;
}

.content-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
}

.faq {
      background-color: #527158;
      padding: 15px 20px 0 20px;
}

.faq .content-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 0;
}

.faq-content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      height: auto;
}

.features {
      background-image: url('../img/camp-fire.jpg');
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
}

.features-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 200px;
}

.features-item-description {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
}

.features .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 55%;
      height: auto;
}

.form {
      width: 95%;
}

.form-description {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: column;
      width: 95%;
}

.footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: auto;
}

.hero-area {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row wrap;
}

.map {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
}
.map p{
      color: black;
}

.mission {
      background-color: #527158;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
}

.mission-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
}

.mission .content-wrapper {
      padding: 0;
}

.reviews {
      background-color: #2a423a;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: auto;
}

.reviews h3 {
      width: 53%;
}

.reviews img {
      width: 100%;
      height: auto;
}

.social {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}

.social h2 p {
      color: #fff;
}

.social-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
}

.social img {
      height: auto;
      width: 4em;
      padding: 25px;
}

/* --------- ##################   FONT STYLES ################# --------  */

h1 {
      color: #fff;
}

h2 {
      color: #fff;
}

h3 {
      color: #fff;
}

p {
      color: #fff;
}

a {
      color: #fff;
}

/* ##############  ID's section #####################  */
#contact {
      background-color: #2a423a;
      width: 100%;
      height: auto;
}

#form {
      display: flex;
      justify-content: center;
      align-items: center;
}

#title {
      background-image: url('../img/hero.jpg');
      background-size: cover;
      background-position: center;
      padding-left: 20px;
      padding-right: 20px;
      height: 600px;
      width: auto;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   MY Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px){
      /*Tablet styles begin here */

      aside {
            padding-left: 60px;
            padding-right: 20px;
      }

      #contact h1 {
            margin-top: 50px 0 0 0;
            padding-bottom: 0;
            justify-content: space-between;
            width: 100%;
            text-align: left;
      }

      footer .content-wrapper {
            width: 55%;
            display: flex;
            justify-content: space-around;
      }

      footer .contact {
            padding-right: 150px;
      }

      footer p {
            padding: 0;
      }


      header .content-wrapper {  /*  puts logo and nav links on same row  */
            display: flex;
            flex-direction: row;
            padding-left: 60px;
            padding-right: 60px;
      }

      .contact {
            display: flex;
            justify-content: flex-start;
            flex-direction: row nowrap;
      }

      .contact-section {
            justify-content: space-between;
            align-items: flex-start;
            flex-flow: row wrap;
            width: 100%;
      }

      .faq {
            padding: 100px 50px 125px 50px;
      }

      .faq-content {
            width: 85%;
      }

      .faq .content-wrapper {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
      }

      .features {
            display: flex;
            align-items: center;
            padding-left: 60px;
            padding-right: 60px;
      }

      .features .content-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-flow: row wrap;
            width: 85%;
      }

      .footer-content {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            flex-flow: row;
            width: 100%;
            padding-left: 45px;
      }

      .form {
            padding-left: 100px;
      }

      .form-description {
            display: flex;
            flex-flow: row;
      }

      .header-divider {  /* removes border on tablet size screen  */
            border-bottom: none;
      }

      .info {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-flow: row nowrap;
            background-color: #2a423a;
      }

      .mission {
            padding: 100px 50px 100px 50px;
            width: 88%;
      }

      .mission-content {
            width: 98%;
            padding-right: 50px;
      }

      .mission .content-wrapper {  /* creates content in 2 columns on mission page */
            display: flex;
            justify-content: space-between;
            flex-direction: row;
      }

      .reviews {  /* sets up reviews section to be centered in section  */
            display: flex;
            justify-content: flex-start;
            align-items:flex-start;
            flex-flow: column nowrap;
            width: 100%;
            padding-top: 80px;
            padding-bottom: 80px;
            padding-left: 40px;
            padding-right: 40px;
      }

      .reviews .container {  /* changes reviews from single column to 2 side by side columns */
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-end;
      }

      .reviews .content-wrapper {  /*  this makes the 2 reviews columns fit on a single row and not flow together  */
            display: flex;
            flex-flow: row wrap;
            width: 45%;
            padding: 0 20px 0 0;
      }

      .social img {  /* resizes image to fit with content   */
            padding: 15px;
      }

      #title {
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;
      }

      #contact {  /* pads the top and bottom of the about page contact general contact section */
            flex-flow: row;
            padding: 100px 5% 100px 8%;
      }

      #contact div {
            padding-right: 40px;
      }

      #contact-info {
            display: flex;
            flex-flow: column;
      }
}

@media only screen and (min-width: 1200px) {
      /*Desktop styles begin here  */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
